<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- Include general header fragment panel for when a Student user is already logged in -->
<div th:replace="fragments/header-loggedin :: header-loggedin"></div>

<!-- Student User information panel -->
<div class="container" style="margin-bottom: 20px;" th:if="${QPalXUserType} == 'STUDENT'">
    <div class="row">
        <div class="col-md-12">
            <img src="images/kwame.png"/>&nbsp;&nbsp;&nbsp;<span class="large-text"><b th:text="${LoggedInQPalXUser.getFullName()}"/></span> &middot; Account &middot; <a th:href="@{/logout}">Sign Out</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <span class="small-text-2 below-name" data-toggle="tooltip" data-placement="bottom" title="SuccessID is your unique ID on QPalx" th:text="|Success ID:  ${LoggedInQPalXUser.getSuccessID()}|"/>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>


<div class="container">

    <!-- Include main QPalx Student navigation panel -->
    <div th:replace="fragments/student-navigation :: student-main-navigation"/>

    <table border="0" style="width: 100%;">

        <tr class="hover-2" th:each="StudentUserCurriculum,rowStat : ${StudentUserCurricula}">
            <td style="width: 4%;" th:text="${rowStat.count}"></td>
            <td style="width: 20%;">
                <div class="gray-box">&nbsp;</div>
            </td>
            <td style="width: 60%;">
                <a th:href="@{/curriculum-courses(curriculumID=${StudentUserCurriculum.id})}"><b th:text="${StudentUserCurriculum.curriculumName}"></b></a>
                <br/><div th:text="${StudentUserCurriculum.curriculumDescription}" />
            </td>
        </tr>

    </table>

</div>
<div class="clearfix bottom-space"></div>

<!-- Include general footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>