<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- Include general header fragment panel for when a Student user is already logged in -->
<div th:replace="fragments/header-loggedin :: header-loggedin"/>

<!-- Include Student User general Account information panel -->
<div th:replace="fragments/qpalx-user-info-panel :: general-account-info"/>

<!-- Include main QPalx Student navigation tab -->
<div th:replace="fragments/student-navigation :: student-main-navigation"/>


<div class="container large-fonts">
    <div class="col-md-2 med-text"><b>Deformation of Solids</b></div>
    <div class="col-md-9"></div>
    <div class="col-md-1 med-text"><b>Close</b></div>
    <div class="padded">
        <div class="row">
            <div class="col-md-12">
                <hr/>
                <p>Stress Forces and Deformation</p>
                <br/>
                <!-- <iframe width="970" height="546" src="https://www.youtube.com/embed/2LOUvMMjM_w" frameborder="0" allowfullscreen style="margin: 0 0 0 50px; text-align: center;"></iframe>-->

                <video width="720" height="540" controls="controls">
                    <source src="videos/deformation-solids.mp4" type="video/mp4"/>

                </video>

                <p style="margin: 20px 50px 20px 50px;">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

            </div>
        </div>
    </div>
    <div class="clearfix bottom-space"></div>
    <div class="col-md-12 continue">
        <button type="button" class="btn btn-success">Continue</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>