<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
  <header>
  <div class="col-md-1"><img src="images/logo.png" alt="quaza" id="logo" /></div>
  <input class="text-box" placeholder="Enter Email Address" type="text"/>
  <input class="text-box" placeholder="Enter Password" type="text"/>
  <button id="log-in" type="button" class="btn btn-success">Log In</button>
  <br />
  <div class="clearfix"></div>
  <button class="btn btn-link" style="margin-right: 130px; color: #aaa;">Forgot your password?</button>
  </header>
  <h1>Sign Up</h1>
  <div class="container">
  <div class="col-md-2"><span class="three-circle-gray"><span class="three-gray"><b>1</b></span></span>Account</div>
  
    <div class="col-md-2"><span class="three-circle-blue"><span class="three-blue">2</span></span><span class="three-text-blue"><b> Payment</b></span></div>
    
<div class="col-md-2"><span class="three-circle-gray"><span class="three-gray">3</span></span> Proficiency</div>

   <div class="clearfix"></div>
   <div class="col-md-2"><hr class="gray-line" /></div>
   <div class="col-md-2"><hr id="blue-line" /></div>
   <div class="col-md-8"><hr class="gray-line" /></div>
   <div class="row">
   
   <div class="col-md-4 cents-box cents-box-2"><img class="cents" src="images/2cents.png" /><p class="centered large-text"><b>Monthly</b></p><p class="centered">You will be billed on a monthly basis</p></div>
   <div class="col-md-2"></div>
   <div class="col-md-4 cents-box cents-box-5"><img class="cents" src="images/5cents.png" /><p class="centered large-text"><b>Annually</b></p><p class="centered">You will be charged on a yearly basis at a discounted price.</p></div>
   <div class="col-md-2"></div>
   </div>
   <br /><br /><br />
   <div class="row hover">
   <div class="col-md-2"></div>
   <div class="col-md-1"><input type="radio" class="radio-btn" name="payment-options" /></div>
   <div class="col-md-6"><p><b>Credit Card</b></p><p>Safe money transfer using your bank account. Safe payment online. Credit card needed: Visa, Maestro, Discover, American Express.</p></div>
   <div class="col-md-1"><img src="images/visa.png" /></div>
   <div class="col-md-2"></div>
   </div>
      <br /><br /><br />
   <div class="row hover">
   <div class="col-md-2"></div>
   <div class="col-md-1"><input type="radio" class="radio-btn" name="payment-options"  /></div>
   <div class="col-md-6"><p><b>PayPal</b></p><p>Safe payment online. Credit card needed. PayPal account is not necessary</p></div>
   <div class="col-md-1"><img src="images/paypal.png" /></div>
   <div class="col-md-2"></div>
   </div>
         <br /><br /><br />
   <div class="row hover">
   <div class="col-md-2"></div>
   <div class="col-md-1"><input type="radio" class="radio-btn" name="payment-options" /></div>
   <div class="col-md-6"><p><b>Mpower</b></p><p>Safe secure payment online with Mpower</p></div>
   <div class="col-md-1"><img src="images/mpower.png" /></div>
   <div class="col-md-2"></div>
   </div>
   
   <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-4">Mpower Alias Number</div>
    <div class="col-md-2"><img src="images/alias.png" style="margin-left: 30px;" /></div>
    <div class="col-md-3"></div>
   </div> 
 
    <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6"><input type="text" class="form-control mpower" /></div>
    <div class="col-md-3"></div>
   </div>   
 <br />
     <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">Full Name</div>
    <div class="col-md-3"></div>
   </div>   
   
       <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6"><input type="text" class="form-control" />
    <div class="col-md-3"></div></div>
   </div>     
   
            <br /><br /><br />
   <div class="row hover">
   <div class="col-md-2"></div>
   <div class="col-md-1"><input type="radio" class="radio-btn" name="payment-options"  /></div>
   <div class="col-md-6"><p><b>Prepaid Card</b></p><p>Enter Card Number</p></div>
   <div class="col-md-1"><img src="images/prepaid.png" /></div>
   <div class="col-md-2"></div>
   </div>
   
         <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6"><input type="text" class="form-control" />
    <div class="col-md-3"></div></div>
   </div>  
   
   <div class="clearfix bottom-space"></div>
    <div class="col-md-12 continue"><button type="button" class="btn btn-success">Continue</button></div>
</div>
   <div class="clearfix bottom-space"></div>
   
   
   
   <footer>
   
   <div class="col-md-4" id="icons">
   
<span class="icon" id="facebook"><i class="fa fa-facebook fa-lg"></i></span>
 
<span class="icon" id="twitter"><i class="fa fa-twitter fa-lg"></i></span>

<span class="icon" id="instagram"><i class="fa fa-instagram fa-lg"></i></span>


  <div id="copyright"><p class="footer">&copy; 2016 Qpalx. All rights reserved</p></div> 
  
   </div>
   
   <div class="col-md-4"><h3 class="header-3">Contact Us</h3><div class="footer-color"><br /><p>hello@qpalx.com</p><br /><p>Studio M, 4th Floor, 8 Lower<br />Manchester Street, M1 5QF</p><br />+34 393 323 3222</div></div>
   
   
   <div class="col-md-4"><h3 class="header-3">Subscribe now</h3><div class="footer-color"><br /><p>Sign up to stay up to date with our<br /> latest news
 <br /><br /></p></div>  
<input id="text-box-1" placeholder="Enter your e-mail here" size="30" type="text"/><button data-toggle="dropdown" id="button-1">
<i class="fa fa-paper-plane"></i></button>
   
   </div></footer>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    
    <script>
$('.radio-btn').click(function() {
		$('.row').removeClass("hvr");
		$(this).filter(':checked').closest('.row').addClass("hvr");
}); 
</script>
  </body>
</html>