<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<h1>Sign Up</h1>
<div class="container">
    <div class="col-md-2"><span class="three-circle-blue"><span class="three-blue"><b>1</b></span></span><span
            class="three-text-blue"><b> Account</b></span></div>

    <div class="col-md-2"><span class="three-circle-gray"><span class="three-gray">2</span></span> Payment</div>

    <div class="col-md-2"><span class="three-circle-gray"><span class="three-gray">3</span></span> Proficiency</div>

    <div class="clearfix"></div>
    <div class="col-md-2">
        <hr id="blue-line"/>
    </div>
    <div class="col-md-10">
        <hr id="gray-line"/>
    </div>

    <div class="clearfix bottom-space"></div>
    <div class="col-md-3"><b>Account Information</b></div>
    <div class="clearfix"></div>
    <div class="col-md-3"><img id="parent" src="images/parent.png"/></div>
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
    <div class="clearfix bottom-space"></div>
    <div class="col-md-3">First name</div>
    <div class="col-md-3">Last name</div>
    <div class="col-md-6">Password</div>
    <div class="clearfix"></div>

    <form action="" method="post" id="submit_form_2">

        <div class="col-md-3"><input type="text" size="26" id="first"/><span id="first-name"></span></div>
        <div class="col-md-3"><input type="text" size="26" id="last"/><span id="last-name"></span></div>
        <div class="col-md-6"><input type="password" size="61" class="password" id="password-1"/></div>

        <div class="clearfix bottom-space"></div>
        <div class="col-md-6">Email</div>
        <div class="col-md-6">Confirm Password</div>
        <div class="clearfix"></div>
        <div class="col-md-6"><input type="email" size="61" class="email"/><span id="tooltip-1"></span></div>
        <div class="col-md-6"><input type="password" class="password" size="61" id="password-2"/><span
                id="password-confirm"></span></div>
        <div class="clearfix bottom-space"></div>

        <div class="col-md-6">Student E-mail - <span id="small-text">(An email will be sent to your child to finish his or her Qplax profile).</span>
        </div>
        <div class="col-md-6"></div>
        <div class="clearfix"></div>
        <div class="col-md-6"><input type="email" size="61" class="email-2"/><span class="tooltip-2"></span>
        </div>
        <div class="col-md-6"></div>
        <div class="clearfix bottom-space"></div>

        <div class="clearfix bottom-space"></div>
        <div class="col-md-12 continue">
            <button type="button" class="btn btn-success">Continue</button>
        </div>
    </form>
</div>

<div class="clearfix bottom-space"></div>

<div th:replace="fragments/footer :: footer"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>

</body>
</html>