<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Student details overview panel -->
<div th:replace="fragments/student/user-overview-panel :: overview"></div>

<div class="container" style="margin: 20px auto 20px auto;">

    <!-- Tutorial Level navigation panel -->
    <div th:replace="fragments/student/tutorial-level-calendar-nav :: academic-calendar"></div>

    <!-- Start Lessons display -->
    <div class="row" th:each="QPalXELesson,rowStat : ${QPalXELessons}">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" th:text="${rowStat.count}"></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a class="pop-up-2" href="#" data-modal-id="popup1">
                <img src="images/assets/adaptive-learning/video-icon.png" id="video-icon"/>
            </a>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 large-fonts topmargin">
            <a th:href="@{/view-micro-lessons(eLessonID=${QPalXELesson.id}, user_name='manyce400@gmail.com', user_email='manyce400@gmail.com', user_id='manyce400@gmail.com')}">
                <span class="blue" th:text="${QPalXELesson.lessonName}"></span>
            </a>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="topmargin-3">
                <progress class="progressbar" value="0" max="100" data-max="80"></progress>
                <span class="progress-value">0%</span>
            </div>
        </div>

    </div>

    <br/> <br/>

    <!-- End Lessons display -->

</div>

<!-- Build modals to popup on clicking lessons -->
<div id="popup1" class="modal-box youtube">
    <div class="bar-1"></div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a href="#" style="float:right;" class="btn btn-small js-modal-close" onClick="stopVideo();">Close</a>
        </div>
    </div>


    <div class="modal-body">
        <video width="700" controls="controls" id="modal-box">
            <source src="/elearning-content/videos/intro.mp4" type="video/mp4"/>
            Your browser does not support HTML5 video.
        </video>
        <div class="bar-3"></div>
    </div>
</div>


<!--<div id="popup2" class="modal-box youtube">-->
    <!--<div class="bar-1"></div>-->
    <!--<div class="row">-->
        <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a href="#" style="float:right;"-->
                                                            <!--class="btn btn-small js-modal-close">Close</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="modal-body">-->
        <!--<video width="700" controls="controls">-->
            <!--<source src="videos/Lesson 2 - modulo arithmetic - video.mp4" type="video/mp4"/>-->
            <!--Your browser does not support HTML5 video.-->
        <!--</video>-->
        <!--<div class="bar-3"></div>-->
    <!--</div>-->
<!--</div>-->
<!-- End modals to popup on clicking lessons -->


<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script>

     function stopVideo(){
        $("#modal-box")[0].pause();
     }
     function stopVideo2(){
        $("#modal-box-2")[0].pause();
     }
     function stopVideo3(){
        $("#modal-box-3")[0].pause();
     }
</script>
</body>
</html>