<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>


<!-- Main Student details overview panel -->
<div th:replace="fragments/student/user-overview-panel :: overview"></div>


<div class="container">

    <!-- Tutorial Level navigation panel -->
    <div th:replace="fragments/student/tutorial-level-calendar-nav :: academic-calendar"></div>

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 large-fonts">
            <a class="pop-up-2" href="#" data-modal-id="popup1">
                Lesson Intro Video
            </a>
            <br/>
            <a class="pop-up-2" href="#" data-modal-id="popup1">
                <img src="images/assets/adaptive-learning/video-icon.png" id="video-icon-2"/>
            </a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

    </div>


    <br/><br/>

    <!-- Display all micro lessons -->
    <div class="row" th:each="QPalXEMicroLesson,rowStat : ${QPalXEMicroLessons}">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" th:inline="text">
            [[${rowStat.count}]] &nbsp; <img src="images/assets/adaptive-learning/micro-lesson-narration.png"/>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-fonts topmargin">
            <a class="anchor-1" th:attr="href='#popup' + ${rowStat.count}">
                <div th:text="${QPalXEMicroLesson.microLessonName}"></div>
            </a>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 topmargin-2">
            <progress class="progressbar" value="0" max="100" data-max="80"></progress>
            <span class="progress-value" style="margin-right: 140px;">0%</span>
        </div>
    </div>

    <br /><br />

    <!-- Display Question Bank and Back to Lessons Panel -->
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="#QuestionBank">
                <img src="images/assets/adaptive-learning/question-bank-button.png" class="question-bank"/>
            </a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a th:href="@{/view-course-lessons(eLearningCourseID=${SelectedELearningCourse.id}, tutorialLevelID=${SelectedTutorialCalendar.id})}">
                <img src="images/assets/adaptive-learning/all-lessons.png" class="all-lessons"/>
            </a>
        </div>
    </div>

</div>


<!-- Build modal displays for all Micro lessons displayed above -->
<div th:each="QPalXEMicroLesson,rowStat : ${QPalXEMicroLessons}">
    <div th:id="'popup' + ${rowStat.count}" class="modalBox">
        <a href="#" class="modalCloseOuter" onClick="stopVideo();"></a>
        <div class="mp4">
            <div class="bar-1"></div>
            <a href="#" style="float:right; margin: 20px 40px 20px 0;" onClick="stopVideo();">Close</a>
            <div class="modalBody">
                <video width="800" id="modal-box" controls="controls">
                    <source th:src="${QPalXEMicroLesson.geteLearningMediaContent().getELearningMediaFile()}" type="video/mp4"/>
                    Your browser does not support HTML5 video.
                </video>
            </div>
            <div class="bar-3"></div>
        </div>
    </div>
</div>

<div id="QuestionBank" class="modalBox">
    <a href="#" class="modalCloseOuter" onClick="stopVideo();"></a>
    <div class="mp4">
        <div class="bar-1"></div>
        <a href="#" style="float:right; margin: 20px 40px 20px 0;" onClick="stopVideo();">Close</a>
        <div class="modalBody">
            <div class="question-bank-top-bar">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Question Bank Question 1</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>What is the best way to get the most out of your brainstorming and Outlining techniques?</p>
                    </div>
                </div>

            </div>
        </div>
        <!--<div class="bar-3"></div>-->
    </div>
</div>

<!--<div id="popup-quiz1" class="modal-box quiz-popup">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>-->

        <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
            <!--<a href="#" style="float:right;" class="btn btn-small js-modal-close" onClick="stopVideo2();">Close</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="modal-body">-->
        <!--<iframe name="proprofs" width="970" height="615" frameborder="0" marginwidth="0" marginheight="0" src="https://www.proprofs.com/quiz-school/story.php?title=mtcxode2nqrx1e&amp;id=1717908&amp;=430"></iframe>-->
    <!--</div>-->
<!--</div>-->


<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

</body>
</html>