<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<div th:replace="fragments/header-loggedin :: header-loggedin"/>

<h1>Generate Prepaid Codes</h1>

<br /><br />
<div class="row">

    <div class="clearfix bottom-space"></div>
    <form th:action="@{/generateIds}" th:object="${QPalXWebUserVO}" method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"><p><b>Country Selection</b></p><p>Select which country to generate for</p></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <select class="dropdown" th:field="*{countryID}">
                    <option th:each="QPalXCountry : ${QPalXCountries}" th:value="${QPalXCountry.id}" th:text="${QPalXCountry.countryName}"></option>
                </select></div>
            <div class="col-md-2"></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"><p><b>Region Selection</b></p><p>Select which region you want to generate codes for</p></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <select class="dropdown" th:field="*{municipalityID}">
                <option th:each="QPalXMunicipality : ${QPalXMunicipalities}" th:value="${QPalXMunicipality.id}" th:text="${QPalXMunicipality.name}"></option>
                </select></div>
            <div class="col-md-2"></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"><p><b>Subscription Selection</b></p><p>Select which susbcription type to generate for</p></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <select class="dropdown" th:field="*{subscriptionID}">
                    <option th:each="QPalXSubscription : ${QPalXSubscriptions}" th:value="${QPalXSubscription.id}" th:text="${QPalXSubscription.subscriptionType}"></option>
                </select></div>
            <div class="col-md-2"></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"><p><b>Number To Generate</b></p><p>Select number of codes to generate</p></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div aligh="left">
                    <input type="text" th:field="*{numToGenerate}" th:value="numToGenerate"/>
                </div>
                <br /><br />
            <div class="col-md-2">
                <input type="submit" />
            </div>
        </div>
        </div>
    </form>
</div>
<div class="clearfix bottom-space"></div>

<div th:replace="fragments/footer :: footer"/>


<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>